/* RESET DO BODY E DECLARAÇÃO DE FONTE */
body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* HEADER E NAVEGAÇÃO */

.header {
    display: flex;
    align-items: center;
}

.container-logo img {
    width: 15vw;
    padding: 1.5vw;
}

.header nav {
    color: #E4E4DE;
    width: 100%;
    max-width: 43vw;
    display: flex;
    margin-left: 10vw;
}

.header nav h2 {
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.3vw;
    position: relative;
}

.header nav h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 0.1vw;
    bottom: 0;
    left: 0;
    background-color: #E4E4DE;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.header nav h2:hover::before {
    transform: scaleX(1);
}

.container,
.container-sobre,
.container-comoFunciona,
.container-duvidas,
.container-contato {
    margin: 0 auto;
    padding: 1vw;
    color: rgb(248, 243, 237);
}

/* SEÇÃO SOBRE NÓS */

section.sobre {
    background-image: url(images/f01c5411-71df-439b-a099-81f879d372fb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.sobre hr {
    width: 55%;
    background-color: #f5f5f5;
    border: 0;
    height: 1px;
    margin-top: 0;
}

.hr {
    width: 55%;
    background-color: #f5f5f5;
    border: 0;
    height: 1px;
    margin-top: 0;
}

section.sobre h1 {
    font-weight: 900;
    margin: 0;
    font-size: 2vw;
}

section.sobre h3 {
    font-weight: 600;
    font-size: 1.3vw;
    text-align: start;
    margin: 0.5vw;
}

.container-sobre {
    display: grid;
    grid-template-columns: 33% 10% 33%;
    margin-top: 5vw;
    justify-content: center;
}

#hr {
    width: 1px;
    height: 15vw;
    grid-column: 2;
}

/* BOTÃO DE ESTOU INTERESSADO */

.estou-interessado,
.form-button {
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #9cc977 0%, #569832 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    width: 50%;
    grid-column: 1;
    margin-top: 3vw;
    font-weight: 700;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.estou-interessado:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #89cf3e;
    transform: translateY(-0.1em);
}

.estou-interessado:active {
    box-shadow: inset 0px 0.1em 0.6em #000000;
    transform: translateY(0em);
}

/* SEÇÃO COMO FUNCIONA */

section.comoFunciona {
    background-color: #101112;
    width: 100%;
    height: 55vw;
    display: flex;
}

.container-comoFunciona h1 {
    font-weight: 800;
    text-align: center;
    margin: 0;
    width: 50%;
    font-size: 3.4vw;
    margin-top: 1vw;
}

.container-comoFunciona h3 {
    font-weight: 600;
    width: 50%;
    font-size: 1.25vw;
    text-align: center;
}

.container-comoFunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5vw;
}

.container-comoFunciona-caixas {
    width: 19vw;
    height: 22vw;
    background: linear-gradient(344deg, #2c2c2c 0%, #1b1d1e 50%);
    box-shadow: 4px 6px 14px #00000036;
    border-radius: 3px;
    color: #F9F9F9;
    padding: 0.8vw;
    transition: all .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-comoFunciona-caixas:hover {
    box-shadow: #474B4F 5px 10px 50px, #474B4F -5px 0px 250px;
}

.container-caixas {
    display: flex;
    gap: 3vw;
    margin-top: 5vw;
}

.container-comoFunciona-caixas h2 {
    font-size: 1.3vw;
    font-weight: 600;
}

.container-comoFunciona-caixas h3 {
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 10px;
    width: fit-content;
}

.container-comoFunciona img {
    width: 5vw;
}

/* SECTION DUVIDAS */

.section-duvidas {
    background: linear-gradient(0deg, #222629 0%, #101112 100%);
    height: 50vw;
    display: flex;
}

.container-duvidas {
    display: flex;
    align-items: center;
}

.container-duvidas-titulo {
    margin-top: 3vw;
    float: left;
    margin-right: 10vw;
}

.container-duvidas-titulo h1 {
    font-size: 2vw;
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.container-duvidas-titulo h3 {
    font-size: 1.3vw;
    text-align: center;
    font-weight: 500;
    margin: 0.8vw;
}

.container-duvidas-titulo img {
    min-width: 5vw;
    max-width: 6vw;
    display: flex;
    margin: auto;
    margin-top: 2.3vw;
}

.caixa {
    width: 40vw;
    height: 35vw;
    margin: 20px auto;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordion-title {
    background-color: #080808;
    color: #ffffff;
    cursor: pointer;
    padding: 1.3vw;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 1vh;
    outline: none;
    transition: 0.5s;
    font-weight: 700;
    font-size: 1vw;
}

.accordion-title:hover {
    background-color: #292929;
    transition: 0.3s;
}

.accordion-content {
    padding: 0.2vw 1vw;
    display: none;
    transition: max-height 0.2s ease-out;
}

.accordion-title.active+.accordion-content {
    display: block;
}

.accordion-content p {
    font-weight: 500;
    font-size: 0.9vw;
}

.accordion-title:after {
    content: '\02795';
    font-size: 0.7vw;
    color: #000000;
    float: right;
    margin-left: 0.8vw;
}

.active:after {
    content: "\2796";
}

/* SECTION CONTATO */

.section-contato {
    height: 95vw;
    display: flex;
    background-color: #060606;
    align-items: center;
}

.container-contato {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.container-contato-titulo {
    flex-direction: column;
    text-align: center;
}

.container-contato-titulo h1 {
    font-size: 2.3vw;
    font-weight: 700;
    color: #e6e1e1;
    margin-bottom: 1vh;
}

.container-contato-titulo h3 {
    font-size: 2.5vw;
    font-weight: 600;
    color: #e6e1e1;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.container-contato-titulo h4 {
    font-size: 1.5vw;
    font-weight: 700;
    color: #e6e1e1;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.container-contato-titulo h5 {
    font-size: 1vw;
    margin-top: 1vh;
    max-width: 80%;
    margin: auto;
    font-weight: 600;
    color: #e6e1e1;
    text-align: center;
}

.container-contato-titulo-textos img {
    margin: auto;
    width: 10vw;
}

.form {
    background-color: #222629;
    border-radius: 0.4vh;
    height: 32vw;
    padding: 2vw;
    width: 25vw;
    margin-top: 5vw;
    margin-left: 2.4vw;
}

.input-container {
    height: 3vw;
    max-width: 40vw;
}

.ic1 {
    margin-top: 1vw;
}

.ic2 {
    margin-top: 1.8vw;
}

.ic3 {
    position: relative;
}

.input {
    background-color: #47484F;
    border-radius: 0.3vh;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 2.5vh;
    height: 100%;
    outline: 0;
    padding: 0.8vh 2vh 0;
    width: 100%;
}

.iLabel {
    color: #65657b;
    font-size: 1vw;
}

.submit {
    background-color: #639e24;
    border: 0;
    border-radius: 0.3vh;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 700;
    height: 4vw;
    margin-top: 1vw;
    text-align: center;
    width: 100%;
}

.submit:hover {
    background-color: #89cf3e;
    transition: 0.1s;
}

.submit:active {
    background-color: #89cf3e;
}

.mapBox iframe {
    width: 30vw;
    height: 36vw;
    margin-left: 3.8vw;
    margin-top: 5vw;
}

.contatotextos h1 {
    color: #f5f5f5;
    font-size: 3vw;
    width: 60%;
    margin-left: 3.4vw;
}

.socialcontainer {
    display: flex;
}

.contatos-obrigado-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 18vw;
    margin-top: 5vw;
}

.contatos-obrigado-container button {
    background-color: #639e24;
    width: fit-content;
    grid-column: 2;
}

.button {
    color: white;
    background-color: #222;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
}

.button:hover {
    background-color: #333;
}

.button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
}

.button:focus svg {
    animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

ul {
    list-style: none;
    margin: 0;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -35px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="discord"] .filled,
.example-2 .icon-content a[data-social="discord"]~.tooltip {
    background-color: #21347a;
}

.example-2 .icon-content a[data-social="steam"] .filled,
.example-2 .icon-content a[data-social="steam"]~.tooltip {
    background-color: #268d18;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    height: 4vw;
}

footer h2 {
    color: whitesmoke;
    font-size: 0.8vw;
    font-weight: 600;
    margin-left: 2vw;
}

/* THANK YOU PAGE */

section.obrigadosection {
    height: 100vh;
    background: #020202;
    background: -webkit-linear-gradient(310deg, #020202 0%, #272727 100%);
    background: linear-gradient(310deg, #020202 0%, #272727 100%);
}

.obrigado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
}

.obrigado img {
    width: 5vw;
    margin: auto;
    margin-bottom: 0;
    margin-top: 10vh;
}

.obrigado h2 {
    color: #fff;
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0;
}

.obrigado h4 {
    color: #fff;
    font-size: 1.7vw;
    font-weight: 500;
    text-align: center;
    width: 60%;
    margin-top: 0;
}

.contatos-obrigado-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Medias querys */

@media screen and (max-width: 640px) {

    section.sobre hr {
        width: 35%;
        background-color: #f5f5f5;
        margin-top: 0;
    }

    .contatos-obrigado-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .obrigado {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .obrigado img {
        width: 10vw;
    }

    .obrigado h2 {
        font-size: 5vw;
        margin-bottom: 2vh;
        font-weight: 700;
    }

    .obrigado h4 {
        font-size: 4vw;
        font-weight: 500;
    }

    section.sobre {
        height: 100vh;
    }

    .container-logo img {
        width: 40vw;
        margin-left: 2vw;
    }

    .header nav {
        margin: 0;
    }

    .header nav h2 {
        display: none;
    }

    section.sobre h1 {
        font-size: 5vw;
    }

    #hr {
        display: none;
    }

    .container-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: 12vw;
    }

    section.sobre h3 {
        font-size: 2.7vw;
        text-align: center;
        width: 70%;
    }

    .estou-interessado,
    .form-button {
        font-size: 3vw;
        height: 2em;
        width: 70%;
        margin-top: 4vw;
    }

    section.comoFunciona {
        height: 400vw;
    }

    .container-comoFunciona h1 {
        width: 80%;
        font-size: 6vw;
        margin-top: 4vw;
    }

    .container-comoFunciona h3 {
        width: 90%;
        font-size: 3vw;
    }

    .container-caixas {
        display: flex;
        flex-direction: column;
    }

    .container-comoFunciona-caixas {
        width: 70vw;
        height: 80vw;
    }

    .container-comoFunciona-caixas h2 {
        font-size: 4vw;
        font-weight: 600;
    }

    .container-comoFunciona-caixas h3 {
        font-size: 3vw;
        width: 100%;
    }

    .container-comoFunciona img {
        width: 18vw;
        margin-top: 3vw;
    }

    .section-duvidas {
        height: 130vw;
    }

    .container-duvidas {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-duvidas-titulo {
        margin: 0;
    }

    .container-duvidas-titulo h1 {
        font-size: 5vw;
    }

    .container-duvidas-titulo h3 {
        font-size: 3vw;
        font-weight: 600;
    }

    .container-duvidas-titulo img {
        min-width: 5vw;
        max-width: 14vw;
        margin-top: 3vw;
    }

    .caixa {
        width: 65vw;
        margin-top: 16vw;
    }

    .accordion-title {
        padding: 2vw;
        width: 100%;
        font-weight: 700;
        font-size: 2.2vw;
    }

    .accordion-content p {
        font-weight: 600;
        font-size: 2vw;
    }

    .section-contato {
        height: 380vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 13vw;
    }

    .container-contato-titulo {
        margin-bottom: 5vw;
    }

    .container-contato-titulo-textos {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 4vw;
    }

    .container-contato-titulo h1 {
        font-size: 5vw;
        margin: 0;
    }

    .container-contato-titulo h3 {
        font-size: 4vw;
        margin: 0;
    }

    .container-contato-titulo h4 {
        font-size: 5vw;
        margin-top: 4vw;
        margin-bottom: 0;
    }

    .container-contato-titulo h5 {
        font-size: 2.4vw;
        margin-top: 1vw;
        max-width: 72%;
        font-weight: 600;
        color: #e6e1e1;
        text-align: center;
    }

    .container-contato-titulo-textos img {
        width: 30vw;
        margin-top: 2vw;
        margin-bottom: 12vw;
    }

    .contatosection2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatotextos h1 {
        margin: 0;
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 3vw;
        margin-top: 5vw;
    }

    .socialcontainer {
        margin: 0;
        margin-top: 5vw;
    }

    .example-2 {
        padding: 0;
    }

    .example-2 .icon-content a {
        width: 12vw;
        height: 12vw;
    }

    .mapBox iframe {
        width: 70vw;
        height: 70vw;
        margin: 0;
        margin-top: 28vw;
    }

    .form {
        height: 87vw;
        padding: 2vw;
        width: 62vw;
        margin: 0;
        margin-top: 25vw;
    }

    .input-container {
        height: 9vw;
        max-width: 100%;
    }

    .ic2 {
        margin-top: 5vw;
    }

    .input {
        color: #eee;
        font-size: 2.5vh;
        padding: 0;
        padding-left: 1vw;
    }

    .iLabel {
        font-size: 3vw;
    }

    .submit {
        font-size: 3vw;
        font-weight: 700;
        height: 7vw;
        margin-top: 4.6vw;
    }

    footer {
        height: 8vw;
        justify-content: center;
    }

    footer h2 {
        font-size: 2vw;
        font-weight: 700;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {

    .hr {
        width: 75%;
        height: 0.1vh;
        background-color: #f5f5f5;
        margin-top: 0;
    }

    #hr {
        width: 1px; 
        height: 34vw; 
        grid-column: 2;
    }

    .obrigado {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .obrigado img {
        width: 10vw;
    }

    .obrigado h2 {
        font-size: 4vw;
        margin-bottom: 2vh;
        font-weight: 700;
    }

    .obrigado h4 {
        font-size: 2vw;
        font-weight: 500;
    }

    .container-logo img {
        width: 20vw;
    }

    .header nav {
        margin-left: 8vw;
        max-width: 63vw;
    }

    .header nav h2 {
        font-size: 2.3vw;
    }

    section.sobre {
        height: 85vw;
    }

    section.sobre h1 {
        font-size: 3vw;
    }

    section.sobre h3 {
        font-weight: 600;
        font-size: 2vw;
        text-align: center;
    }

    .estou-interessado,
    .form-button {
        font-size: 2vw;
        width: 60%;
        margin: auto;
        margin-top: 3vw;
    }

    section.comoFunciona {
        height: 135vw;
    }

    .container-comoFunciona h1 {
        width: 60%;
        font-size: 5vw;
        margin-top: 1.5vw;
    }

    .container-comoFunciona h3 {
        font-weight: 500;
        width: 70%;
        font-size: 2vw;
    }

    .container-comoFunciona-caixas {
        width: 30vw;
        height: 42vw;
    }

    .container-caixas {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 4vw;
        margin-top: 8vw;
    }

    .container-comoFunciona-caixas h2 {
        font-size: 2.2vw;
    }

    .container-comoFunciona-caixas h3 {
        font-size: 1.9vw;
    }

    .container-comoFunciona img {
        width: 9vw;
    }

    .section-duvidas {
        height: 90vw;
    }

    .container-duvidas {
        display: flex;
        flex-direction: column;
    }

    .container-duvidas-titulo {
        float: left;
        margin: 0;
        margin-top: 10vw;
    }

    .container-duvidas-titulo h1 {
        font-size: 5vw;
    }

    .container-duvidas-titulo h3 {
        font-size: 3vw;
    }

    .container-duvidas-titulo img {
        min-width: 5vw;
        max-width: 15vw;
    }

    .caixa {
        width: 70vw;
        margin: 0;
        margin-top: 4vw;
    }

    .accordion-title {
        font-size: 1.8vw;
    }

    .accordion-content p {
        font-size: 1.8vw;
        font-weight: 600;
    }

    .accordion-title:after {
        font-size: 1vw;
    }

    .section-contato {
        height: 315vw;
    }

    .container-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-contato-titulo-textos {
        margin: 0;
    }

    .socialcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-contato-titulo {
        margin: 0;
        margin-bottom: 10vw;
    }

    .mapBox iframe {
        width: 56vw;
        height: 56vw;
        margin: 0;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .mapBox {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .example-2 {
        padding: 0;
    }

    .contatotextos {
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .contatotextos h1 {
        margin: 0;
        margin-bottom: 8vw;
    }

    .container-contato-titulo h1 {
        font-size: 6vw;
    }

    .container-contato-titulo h3 {
        font-size: 4vw;
    }

    .container-contato-titulo h4 {
        font-size: 5vw;
    }

    .container-contato-titulo h5 {
        font-size: 2vw;
    }

    .container-contato-titulo-textos img {
        width: 17vw;
        margin-top: 2vw;
    }

    .example-2 .icon-content a {
        width: 70px;
        height: 70px;
    }

    .form {
        height: 70vw;
        width: 55vw;
        margin: 0;
        margin-top: 3vw;
    }

    .input-container {
        height: 7vw;
        max-width: 100%;
    }

    .ic1 {
        margin-top: 2vw;
    }

    .ic2 {
        margin-top: 5vw;
    }

    .input {
        font-size: 3vw;
        padding: 0;
        padding-left: 1vw;
    }

    .iLabel {
        color: #65657b;
        font-size: 2vw;
    }

    .submit {
        font-size: 2.4vw;
        height: 6vw;
        margin: 0;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vw;
    }

    footer h2 {
        font-size: 1.6vw;
    }

}